#program {
    margin-bottom: 100px;
    position: relative;
    .program-item {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        position: relative;
        box-shadow: 0px 0px 10px rgba(161, 168, 192, 0.4);
        &:last-of-type {
            margin-bottom: 0;
        }
        @include sp {
            flex-direction: column;
            align-items: center;
            padding-bottom: 22px;
            margin-bottom: 30px;
            box-shadow: none;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &:nth-of-type(even) {
            flex-direction: row-reverse;
            @include sp {
                flex-direction: column;
            }
        }
    }
    .program-text {
        color: cl(black);
        padding: 22px;
        width: 50%;
        @include sp {
            width: calc(100% - 22px * 2);

        }
    }
    .text-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .program-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 8px;
        @include sp {
            font-size: 1.5rem;
        }
    }
    .program-time {
        font-size: 1.5rem;
        @include sp {
            font-size: 1.125rem;
        }
    }
    .text-desc {
        position: relative;
        line-height: 1.7;
        margin-top: 10px;
        padding-top: 10px;
        text-align: justify;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, rgba(58,143,183,1) 0%, rgba(255,255,255,0) 100%);
            position: absolute;
            top: 0;
            left: 0;
        }
        @include sp {
            font-size: 0.875rem;
        }
    }
    .program-img {
        flex: 1;
        img {
            display: block;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        @include sp {
            width: 90%;
        }
    }
/* --------------------------------------------
背景の花火イラスト
--------------------------------------------- */
    .hanabi {
        position: absolute;
        box-sizing: border-box;
    }
    .hanabi.hanabi-img1 {
        width: 280px;
        top: -130px;
        right: 150px;
        z-index: -2;
        @include tab {
            width: 250px;
            right: 0px;
        }
        @include sp {
            width: 150px;
            top: -130px;
            left: initial;
            right: 20px;
        }
    }
    .hanabi.hanabi-img2 {
        width: 180px;
        top: 500px;
        left: 10px;
        z-index: -1;
        @include sp {
            width: 80px;
            top: -30px;
            left: initial;
            right: 20px;
        }
    }
    .hanabi.hanabi-img3 {
        width: 300px;
        bottom: -150px;
        right: 50px;
        z-index: -2;
        @include sp {
            display: none;
        }
    }
    .hanabi.hanabi-img4 {
        width: 180px;
        bottom: 100px;
        right: 50px;
        z-index: -1;
        @include sp {
            display: none;
        }
    }
}
